<h1>[{{title}}] 글 {{#if (eq mode "create")}}작성{{else}}수정{{/if}}</h1>
<div>
  <form name="boardForm" method="post" {{#if (eq mode "create")}}action="/write" {{else}}action="/modify"{{/if}}>
    {{#if (eq mode "modify")}}
    <input type="hidden" name="id" value="{{post._id}}" />
    {{/if}}
    <div>
      <label>제목</label>
      <input type="text" name="title" placeholder="Write title here" value="{{post.title}}" />
    </div>
    <div>
      <label>이름</label>
      <input type="text" name="name" placeholder="Write Name here" value="{{post.name}}" />
    </div>
    <div>
      <label>비밀번호</label>
      <input
        type="password"
        name="password"
        placeholder="Write password here"
        value=""
      />
    </div>
    <div>
      <label>본문</label>
      <br />
      <textarea
        type="text"
        name="content"
        cols="50"
        rows="10"
        placeholder="Write contents here"
      >{{post.content}}</textarea>
    </div>

    <div>
      <button type="submit">Save</button>
      <button type="button" onclick="location.href='/'">Cancel</button>
    </div>
  </form>
</div>